﻿<!DOCTYPE html>
<html ng-app="mainModule" ng-controller="GridController as gridCtrl">
<head>
    <title>Test</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/slickGrid/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/bootstrap")
</head>
<body>
    <header class="drm-header drm-fixed">

        <span class="drm-header-user"></span>
        <span class="drm-header-title center"> DRM</span>
        <span class="drm-header-clock"></span>
        </header>
   
   
     <div class="body-content body-margin-top">
         <div class="col-md-8 NavView">
         <div class="navbar navbar-default">
             <div class="container">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                     @Html.ActionLink("Create", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
                 </div>
                 <div class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                         <li>   <a href="/#/">Home</a></li>
                         <li>   <a href="/#/Roles">Roles</a></li>
                         <li>  <a href="/#/AddRole">Add Roles</a></li>
                     </ul>
                 </div>
             </div>
         </div>
        <div ng-view></div>
        </div>
            <div class="col-md-4 widgets" ></div>
    </div>
   <div class="clear"></div>
        <footer >
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="http://www.destinators.com">©  2016 Destinators    </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="time"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>

@Scripts.Render("~/bundles/JQuery")
@Scripts.Render("~/bundles/Angular")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/Javascripts")
@Scripts.Render("~/bundles/AngularAPIServices")
@Scripts.Render("~/bundles/AngularControllers")

@Scripts.Render("~/bundles/SlickGrid")


</html>