﻿<div ng-controller="DRMSystem_RolesEditorController">
    <div class="row">
        <div class="col-md-1">
            Role Name
        </div>
        <div class="col-md-5">
            <input type="text" ng-model="roleName" />
            {{roleName}}
        </div>
        <div class="col-md-2">
            <input type="button" class="btn-danger" value="Save" ng-click="save()" />
        </div>
    </div>

</div>